@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");

/* base styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #000;
  color: #fff;
}
